ciliumNetworkPolicy:
  enabled: true

# Only set create: true if the pluginbarmancloud.serviceAccount.create is set to false.
# This is to avoid creating a ServiceAccount twice.
# This will be removed once the following upstream issue will be merged: https://github.com/cloudnative-pg/charts/pull/703
customServiceAccount:
  create: false
  name: ""
  annotations: {}

pluginbarmancloud:
  enabled: false

  # Override the chart name to match the expected label format
  nameOverride: "plugin-barman-cloud"

  image:
    registry: gsoci.azurecr.io
    repository: giantswarm/cnpg-plugin-barman-cloud

  sidecarImage:
    registry: gsoci.azurecr.io
    repository: giantswarm/cnpg-plugin-barman-cloud-sidecar

  crds:
    create: true

  serviceAccount:
    create: true
    name: ""

  # -- Container Security Context.
  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsUser: 10001
    runAsGroup: 10001
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - "ALL"

  # -- Security Context for the whole pod.
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    # fsGroup: 2000

  commonAnnotations: {}
  podAnnotations: {}
  podLabels: {}

  resources: {}

  rbac:
    # -- Specifies whether Role and RoleBinding should be created.
    create: true

  certificate:
    # -- Specifies whether the client certificate should be created.
    createClientCertificate: true
    # -- Specifies whether the server certificate should be created.
    createServerCertificate: true
    # -- The name of the issuer to use for the certificates.
    issuerName: letsencrypt-giantswarm
    # -- The duration of the certificates.
    duration: 2160h
    # -- The renew before time for the certificates.
    renewBefore: 360h
